<launch>
    <arg name="binary_filter_map_path" default="$(find obstacle_filter)/map/ware_house.yaml"/>

    <node name="binary_filter_map_server" pkg="map_server" type="map_server" args="$(arg binary_filter_map_path)" ns="/obstacle_filter" output="screen">
      <param name="frame_id" type="string" value="map"/>
    </node>

  </launch>